In [1]:
import pandas as pd
import numpy as np
import os
from IPython.display import display, HTML
import matplotlib.pyplot as plt

In [6]:
%ls -al ../data/raw/

total 790568
drwxr-xr-x  24 tace105  staff        768 Oct 19 15:47 ./
drwxr-xr-x   6 tace105  staff        192 Oct 19 15:30 ../
-rw-r--r--   1 tace105  staff          0 Oct 19 15:30 .gitkeep
-rwxr-xr-x@  1 tace105  staff   36618754 Jun 16  2017 762609057_112015_3429_airline_delay_causes.csv*
-rwxr-xr-x@  1 tace105  staff    1500281 Jun 17  2017 County_Zhvi_AllHomes.csv*
-rwxr-xr-x@  1 tace105  staff        832 Jun 17  2017 LungDisease.csv*
-rwxr-xr-x@  1 tace105  staff    1784825 Oct 15  2017 airline_stats.csv*
-rwxr-xr-x@  1 tace105  staff        151 Jun 17  2017 click_rates.csv*
-rwxr-xr-x@  1 tace105  staff         90 Jun 16  2017 dfw_airline.csv*
-rwxr-xr-x@  1 tace105  staff        229 Jun 17  2017 four_sessions.csv*
-rwxr-xr-x@  1 tace105  staff   16248056 Nov  5  2017 full_train_set.csv*
-rwxr-xr-x@  1 tace105  staff    3545477 Oct 15  2017 house_sales.csv*
-rwxr-xr-x@  1 tace105  staff         65 Jun 17  2017 imanishi_data.csv*
-rwxr-xr-x@  1 tace105  staff    9795119 Jun 16  2017 kc_tax.csv*
-rwxr-xr-x@  1 tace105  staff    4862888 Nov  5  2017 lc_loans.csv*
-rwxr-xr-x@  1 tace105  staff       4454 Jun 17  2017 loan200.csv*
-rwxr-xr-x@  1 tace105  staff     162167 Jun 17  2017 loan3000.csv*
-rwxr-xr-x@  1 tace105  staff  272513561 Jun 16  2017 loanStats.csv*
-rwxr-xr-x@  1 tace105  staff    7296264 Jun 17  2017 loan_data.csv*
-rwxr-xr-x@  1 tace105  staff     308338 Jun 17  2017 loans_income.csv*
-rwxr-xr-x@  1 tace105  staff   50042154 Jun 16  2017 sp500_data.csv*
-rwxr-xr-x@  1 tace105  staff      28327 Jun 16  2017 sp500_sectors.csv*
-rwxr-xr-x@  1 tace105  staff       1457 Jun 16  2017 state.csv*
-rwxr-xr-x@  1 tace105  staff        441 Jun 17  2017 web_page_data.csv*

In [9]:
project_root = os.path.abspath(os.pardir)
data_loc = os.path.join(project_root, 'data')
raw_data_loc = os.path.join(data_loc, 'raw')
housing_data_file = os.path.join(raw_data_loc, 'house_sales.csv')

In [12]:
housing_df = pd.read_csv(housing_data_file, sep='\t')
housing_df.describe()

,SalePrice,PropertyID,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,SqFtTotLiving,SqFtFinBasement,Bathrooms,Bedrooms,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode
count,2.268900e+04,2.268900e+04,22689.000000,22689.000000,2.268900e+04,22689.000000,2.268900e+04,22689.000000,22689.000000,22689.000000,22689.000000,22689.000000,22689.000000,22689.000000,22689.000000,2.268900e+04,2.268900e+04,22689.000000
mean,5.079373e+05,4.666067e+09,392178.046631,0.901144,5.652523e+05,1.018820,1.174621e+04,2080.258275,293.240072,2.176550,3.367843,7.680991,1971.194588,102.305743,0.205783,2.203320e+05,3.004871e+05,98074.241174
std,3.466495e+05,2.877594e+09,36351.442162,0.083528,3.854195e+05,0.159745,2.901475e+04,913.791565,439.449560,0.768044,0.904414,1.180565,30.315556,440.560634,0.554195,1.829144e+05,2.266145e+05,591.396594
min,3.000000e+03,1.000102e+06,311600.000000,0.715993,3.368000e+03,1.000000,4.940000e+02,370.000000,0.000000,0.000000,0.000000,3.000000,1900.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,9800.000000
25%,3.250000e+05,2.212400e+09,360700.000000,0.828814,3.605630e+05,1.000000,4.800000e+03,1420.000000,0.000000,1.750000,3.000000,7.000000,1950.000000,0.000000,0.000000,1.070000e+05,1.720000e+05,98034.000000
50%,4.246500e+05,4.006000e+09,403200.000000,0.926471,4.713150e+05,1.000000,7.200000e+03,1910.000000,0.000000,2.250000,3.000000,7.000000,1977.000000,0.000000,0.000000,1.820000e+05,2.460000e+05,98065.000000
75%,5.850000e+05,7.417700e+09,421200.000000,0.967831,6.494430e+05,1.000000,9.794000e+03,2540.000000,580.000000,2.500000,4.000000,8.000000,2000.000000,0.000000,0.000000,2.670000e+05,3.610000e+05,98117.000000
max,1.100000e+07,9.906000e+09,435200.000000,1.000000,1.164486e+07,5.000000,1.024068e+06,10740.000000,3500.000000,8.000000,33.000000,13.000000,2015.000000,2016.000000,3.000000,5.538000e+06,5.772000e+06,98354.000000

In [13]:
housing_df.head()

,DocumentDate,SalePrice,PropertyID,PropertyType,ym,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,...,Bathrooms,Bedrooms,BldgGrade,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode,NewConstruction
1,2014-09-16,280000,1000102,Multiplex,2014-09-01,405100,0.930836,300805.0,2,9373,...,3.00,6,7,1991,0,0,70000,229000,98002,False
2,2006-06-16,1000000,1200013,Single Family,2006-06-01,404400,0.929228,1076162.0,1,20156,...,3.75,4,10,2005,0,0,203000,590000,98166,True
3,2007-01-29,745000,1200019,Single Family,2007-01-01,425600,0.977941,761805.0,1,26036,...,1.75,4,8,1947,0,0,183000,275000,98166,False
4,2008-02-25,425000,2800016,Single Family,2008-02-01,418400,0.961397,442065.0,1,8618,...,3.75,5,7,1966,0,0,104000,229000,98168,False
5,2013-03-29,240000,2800024,Single Family,2013-03-01,351600,0.807904,297065.0,1,8620,...,1.75,4,7,1948,0,0,104000,205000,98168,False

In [18]:
# Check for any null values in any row
housing_df.isnull().values.any()

False

In [19]:
# Create dummy values
prop_type_dummies = pd.get_dummies(housing_df['PropertyType'])

In [27]:
housing_df_2 = pd.concat([housing_df.drop('PropertyType', axis=1), prop_type_dummies], axis=1)
housing_df_2.head()

,DocumentDate,SalePrice,PropertyID,ym,zhvi_px,zhvi_idx,AdjSalePrice,NbrLivingUnits,SqFtLot,SqFtTotLiving,...,YrBuilt,YrRenovated,TrafficNoise,LandVal,ImpsVal,ZipCode,NewConstruction,Multiplex,Single Family,Townhouse
1,2014-09-16,280000,1000102,2014-09-01,405100,0.930836,300805.0,2,9373,2400,...,1991,0,0,70000,229000,98002,False,1,0,0
2,2006-06-16,1000000,1200013,2006-06-01,404400,0.929228,1076162.0,1,20156,3764,...,2005,0,0,203000,590000,98166,True,0,1,0
3,2007-01-29,745000,1200019,2007-01-01,425600,0.977941,761805.0,1,26036,2060,...,1947,0,0,183000,275000,98166,False,0,1,0
4,2008-02-25,425000,2800016,2008-02-01,418400,0.961397,442065.0,1,8618,3200,...,1966,0,0,104000,229000,98168,False,0,1,0
5,2013-03-29,240000,2800024,2013-03-01,351600,0.807904,297065.0,1,8620,1720,...,1948,0,0,104000,205000,98168,False,0,1,0